body {
  background-color: #1e212b;
}

h2 {
  color: #00a7e1;
}

h3 {
  color: #007ea7;
}

p {
  color: rgba(28, 124, 84, 0.9);
}

hr {
  border-top: 1px solid #00a7e1;
  border-bottom: 1px solid #007ea7;
}

h2.students {
  color: rgba(33, 1, 36, 50%);
}
